@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    color: #F272B8 ;
    color: #0511F2;
    color: #F2E205;
    color: #F20505;
    color: #F2F2F2;
    color: #0D0D0D;
}

section{
    position: relative;
    width: 100%;
    padding: 0 100px;
    display: flex;
}




.inicio{
    min-height: 650px;/* altura mínima que sera aplicada a cada sección*/
    background-image: url(img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.inicio.active::before{
    content: '';
    box-shadow: 0 0 0 1300px transparent; /* Color fondo de menu */
}

.inicio.active .menu{
    opacity: (1);
    visibility: visible;/*Sea visible el menu*/
    transition-delay: 0.1s;
}




header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}

/* icono de menu hamburguesa*/
header .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(img/nav.gif);/* decidi hacer un gif que cambia de negro a rojo porque al pasar en algunas secciones no se podia visualizar al ir navegando por la página*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}

/* icono de menu x*/
header .toggle.active{
    background-image: url(img/closed.gif);/* decidi hacer un gif que cambia de negro a rojo porque al pasar en algunas secciones no se podia visualizar al ir navegando por la página*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}




.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    z-index: 10;
    padding-left: 500px;
    opacity: (0);
    visibility:hidden; /*Asi es como logramos que el menu no sea visible hasta presionar menu hamburguesa*/
}

.menu li a{ /*estilos a los enlaces del menu*/
    color: #F20505;
    font-family:"Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding: 5px 10px;
    margin:  5px 0;
    display: inline-block;
    transition: 0.1s;/*tiempo paara que desaparezca el menu deplegado*/
}

.menu li:hover a{
    letter-spacing: 5px; /*efecto sobre los enlace que se vea con separación cada letra*/
    color: #F2F2F2;
}




.marker{
    position: absolute;
    bottom: 0;
    right: 80px;
    width: 250px;
}

.inicio.active .marker{
    transform: scale(0); /* Desaparezca el marcador en el menu */
}

.container{
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;/*transión del contenido al menu y viceversa*/
}

.container .content{
    position: relative;
    max-width: 900px;
    z-index: 100;
}

.container .content h1{
    font-family: "Permanent Marker", cursive;
    font-size: 120px;
    margin-bottom: 10px;
}

.container .content h3{
    font-family:"Montserrat", sans-serif;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.marker-text {/* Marcador texto*/
    font-family:"Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #F20505;
    margin-bottom: 10px;
    margin-left: 0px;
    position: relative;
}

.marker-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #0D0D0D; /* Color del marcador */
    overflow: hidden;
    white-space: nowrap;
    animation: write 8s steps(40, end);
}

@keyframes write {
    from { width: 0; }
    to { width: 100%; }
}

.container .content a{  /* botón explorar*/
    background-color:#F20505;
    color: #F2F2F2;
    display: inline-block;
    font-family:"Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: 0.5s;
}

.container .content a:hover{
    background-color: #F2E205;
}

.inicio.active .container{
    transform: scale(0);/*para que desaparezca el contenido y solo este el menu desplegado*/
}




.seccion1{/*sección VIDEO*/
    background-image: none;
    min-height: 660px;/* altura mínima que sera aplicada a cada sección*/ 
}

.seccion1 video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.seccionmarcador{/*sección ANIMACIÓN MARCADOR*/
    min-height: 100px;
    background-image: url(img/line3.png);
    background-color: #F2F2F2;
    background-repeat: no-repeat;
}

/*.seccionmarcador h1{
    font-family: "Permanent Marker", cursive;
    color: #F20505;
    font-size: 60px;
    padding-left: 70px;
    padding-top: 110px;
}*/

.marcador-text {
    text-decoration: none;
    font-family: "Permanent Marker", cursive;
    display: flex;
    margin-left: 200px;
    margin-top: 30px;
    height: 50px;
}

.marcador-text {
    font-size: 40px;
    color: transparent;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}

.marcador-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #F20505; /* Color del marcador */
    overflow: hidden;
    white-space: nowrap;
    animation: write 7s steps(40, end) infinite;
}

@keyframes write {
    from { width: 0; }
    to { width: 100%; }
}


.creative1{/*imagen que enlaza con la pestaña de marcadores*/
    height: 0px;
}
  
.products1{
    position: absolute;
    right: 0;
    top: 15px;/*aparezcan abajo 480px o 800*/
    z-index: 2;
}
  
.products1 ul{
    list-style: none;   
}
  
.products1 ul li a{
    display: inline-block;
    padding: 0px;
    -webkit-transition: all 500ms ease;
    -o-transition:all 500ms ease;
    transition: all 50ms ease;
}
  
.products1 ul li a:hover{
    padding: 5px 30px;
    background: transparent;	
}




.seccion2{/*sección EXPLORAR MARCADOR*/
    min-height: 300px;/* altura mínima que sera aplicada a cada sección*/
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F20505;
} 

.seccion2 .container2{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.seccion2 .container2 img{
    float: left;
    max-width: 400px;
    border-radius: 10px;
    margin-right: 40px;
}

/*.seccion2 .container2 .text2{

}*/

/*.seccion2 .container2 h2{
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    padding-top: 0px;
}*/

.seccion2 .container2 p{
    font-family:"Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-top: 100px;
}




.seccion3{/*sección MARCADOR*/
    min-height: 300px;/* altura mínima que sera aplicada a cada sección*/
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0511F2;
} 

.seccion3 .container3{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.seccion3 .container3 img{
    float: right;
    max-width: 400px;
    border-radius: 10px;
    margin-right: 15px;
}

.seccion3 .container3 .text3{
    max-width: 500px; 
}

.seccion3 .container3 h2{
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    padding-top: 0px;
}

.seccion3 .container3 p{
    font-family:"Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-top: 30px;
}




.seccion4{/*sección MARCADOR*/
    min-height: 300px;/* altura mínima que sera aplicada a cada sección*/
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F20505;
} 

.seccion4 .container4{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.seccion4 .container4 img{
    float: left;
    max-width: 400px;
    border-radius: 10px;
    margin-right: 40px;
}

/*.seccion4 .container4 .text4{

}*/

.seccion4 .container4 h2{
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    padding-top: 0px;
}

.seccion4 .container4 p{
    font-family:"Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-top: 30px;
}




.seccion5{/*sección MARCADOR*/
    min-height: 300px;/* altura mínima que sera aplicada a cada sección*/
    background-image: url();
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #0511F2;
} 

.seccion5 .container5{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.seccion5 .container5 img{
    float: right;
    max-width: 450px;
    border-radius: 10px;
    margin-right: 15px;
}

/*.seccion5 .container5 .text3{

}*/

.seccion5 .container5 h2{
    font-family: "Permanent Marker", cursive;
    font-size: 50px;
    padding-top: 0px;
}

.seccion5 .container5 p{
    font-family:"Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding-top: 30px;
}




.seccionboligrafo{/*sección ANIMACIÓN BOLIGRAFO*/
    min-height: 100px;
    background-image: url(img/line3.png);
    background-color: #F2F2F2;
    background-repeat: no-repeat;
}

/*.seccionboligrafo h1{
    font-family: "Permanent Marker", cursive;
    color: #F20505;
    font-size: 60px;
    padding-left: 70px;
    padding-top: 110px;
}*/

.pen-text {/*Texto boligrafo*/
    font-family: 'Gloria Hallelujah', cursive;
    margin-left: 300px;
    margin-top: 30px;
    height: 50px;
}
    
.pen-text {
    font-size: 2em;
    color: transparent;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
}
    
.pen-text::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #0D0D0D; /* Color del marcador */
    overflow: hidden;
    white-space: nowrap;
    animation: write 7s steps(40, end)infinite; 
}
    
@keyframes write {
    from { width: 0; }
    to { width: 100%; }
}


.creative2{/*imagenes que enlaza con la pestaña de boligrafos*/
    height: 0px;
}
  
.products2{
    position: absolute;
    right: 0;
    top: 15px;/*aparezcan abajo 480px o 800*/
    z-index: 2;
}
  
.products2 ul{
    list-style: none;   
}
  
.products2 ul li a{
    display: inline-block;
    padding: 0px;
    -webkit-transition: all 500ms ease;
    -o-transition:all 500ms ease;
    transition: all 50ms ease;
}
  
.products2 ul li a:hover{
    padding: 5px 30px;
    background: transparent;	
}




