@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

    color: #F272B8;
    color: #0511F2;
    color: #F2E205;
    color: #F20505;
    color: #F2F2F2;
    color: #0D0D0D; /*Paleta de color, luego de usarla se puede borrar porque no hace nada */
}

section{
    position: relative;
    width: 100%;
    padding: 0 100px;
    display: flex;
    align-items: center;
    
}

.inicio{
    background-color: #0511F2;
    min-height: 650px;/* altura mínima que sera aplicada a cada sección*/
}

.inicio.active::before{
    content: '';
    box-shadow: 0 0 0 1300px transparent; /* Color fondo de menu */
}

.inicio.active .menu{
    opacity: (1);
    visibility: visible;/*Sea visible el menu*/
    transition-delay: 0.1s;
}




header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
}
/* icono de menu hamburguesa*/
header .toggle{
    position: relative;
    width: 30px;
    height: 30px;
    background-image: url(img/nav.gif);/* decidi hacer un gif que cambia de negro a rojo porque al pasar en algunas secciones no se podia visualizar al ir navegando por la página*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    cursor: pointer;
}
/* icono de menu x*/
header .toggle.active{
    background-image: url(img/closed.gif);/* decidi hacer un gif que cambia de negro a rojo porque al pasar en algunas secciones no se podia visualizar al ir navegando por la página*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
}




.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    z-index: 10;
    padding-left: 500px;
    opacity: (0);
    background: url(img/bg.png);/*fondo al menu*/
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F2F2F2;
    list-style: none;
    text-decoration: none;
    visibility:hidden; /*Asi es como logramos que el menu no sea visible hasta presionar menu hamburguesa*/
}

.menu li a{ /*estilos a los enlaces del menu*/
    color: #F20505;
    font-family:"Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    padding: 5px 10px;
    margin:  5px 0;
    display: inline-block;
    transition: 0.1s;/*tiempo paara que desaparezca el menu deplegado*/
}

.menu li:hover a{
    letter-spacing: 5px; /*efecto sobre los enlace que se vea con separación cada letra*/
    color: #F2F2F2;
}




.container{
    position: relative;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s; /*transión del contenido al menu y viceversa*/
}

.container .content{
    position: relative;
    max-width: 900px;
    z-index: 100;
}

.container .content h1{
    font-family: "Permanent Marker", cursive;
    font-size: 60px;
    margin-bottom: 10px;
}

.container .content h3{
    font-family:"Montserrat", sans-serif;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.inicio.active .container{
    transform: scale(0);/*para que desaparezca el contenido y solo este el menu desplegado*/
}




.seccion1{/*sección creada solo para visualizar como se ve una imagen de fondo*/
    min-height: 650px;/* altura mínima que sera aplicada a cada sección*/
    background-image: url(img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}




.seccion2{/*sección donde se encuentra la diapositiva infinita*/
    min-height: 650px;/* altura mínima que sera aplicada a cada sección*/
    background-color: #F20505;
}

.container2{
    padding-top: 40px;
    padding-bottom: 10px;
}

.slider{
  width: 100%;
  margin: auto;
  overflow: hidden;
}
  
.slider ul{
  display: flex;
  padding: 0;
  width: 300%;
  animation: cambio 20s infinite;
  animation-timing-function: ease;
}
  
.slider li{
  list-style: none;
}
  
.slider img{
  width: 100%;
}
  
@keyframes cambio{
  0%{ margin-left: 0;}
  30%{ margin-left: 0;}
  
  35%{ margin-left: -100%;}
  65%{ margin-left: -100%;}
  
  70%{ margin-left: -200%;}
  100%{ margin-left: -200%;}
}



.seccionb{/*BANNER*/
    min-height: 210px;/* altura mínima que sera aplicada a cada sección*/
    background-image: url(img/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}



/*sección de redes sociales de la marca*/
.contacto{
    min-height: 400px;/* altura mínima que sera aplicada a cada sección*/
    position: relative;
    background-color: #F2F2F2;
    background-image: url(img/bg.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 0;
    
}


.newsletter{
    background-image: url(img/post-it1.png);/*imagen como fondo*/
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-top: 0px ;
    text-align: center;
    background-repeat: no-repeat;/*para que no se repita la imagen de fondo*/
}

.newsletter h2{
    font-family:"Montserrat", sans-serif;
    color: #0511F2;
    font-weight: 600;
    font-size: 15px;
    margin-top: 110px;
    margin-right: 750px;
}

form {
    display: flex;
    flex-direction: column; /*aparezca primero la casilla de email y luego el botón*/
    margin-left: 50px;
    padding-top: 10px; 
    position: relative;
    z-index: 9;/*controla que elemento se mostrara o actuara antes*/
}

input[type="email"] { /*estilos que se le agregan al ingresar la dirección de correo*/
    padding: 10px;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
    margin-bottom: 20px;
    font-family:"Montserrat", sans-serif;
    font-size: 16px;
    max-width: 250px;
    z-index: 9;
    
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #0D0D0D;
    font-family:"Montserrat", sans-serif;
    color: #F2F2F2;
    font-size: 16px;
    cursor: pointer;
    max-width: 250px;
}

button:hover {
    background-color: #F20505;
}

.hidden {
    display: none;
}

#message { /*estilos agregados al mensaje que aparecera luego de ingresar el correo */
    font-family:"Montserrat", sans-serif;
    margin-top: 80px;
    font-size: 16px;
    font-weight: 500;
}




.redes{
    position: absolute;
    right: 350px;
    top: 100px;
    gap: 70px;
    display: flex;
    transition: 0.5s;
    z-index: 9;/*controla que elemento se mostrara o actuara antes*/
}

.redes li{
    width: 50px;
    height: 50px;
}

.redes li a{
    display: inline-block;
    width: 250%;
    height: 250%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.redes li:hover a{
    background: #F2E205; 
}


/*.redes li a img{
    

}*/


.redes li a img{
    transform: scale(0.6);
}




footer {
    min-height: 220px;/* altura mínima que sera aplicada a cada sección*/
    background-image: url(img/contact.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-top: 50px;
    
   
}

footer a img{
    width: 100px;
    justify-content: center;
}


footer h6{
    display: flex;
    font-family:"Montserrat", sans-serif;
    color: #0D0D0D;
    font-size: 16px;
    font-weight: 600;
    margin-right: 100px;
}


.inicio video{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

/* CAMBIOS PAGINA DE INICIO*/
.bg-inicio{
    background-image: url('./gif/gif12.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-category{
    background-image: url(img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.i_categorias{
    text-decoration: none;
}
.grid-cols-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
}
@media (max-width: 900px) {

    .grid-cols-3 {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 3rem;
        margin-top: 4rem;
    }
}
.bg-category-1{
    padding: 1rem;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    box-shadow: 0 0 6px #000;
    cursor: pointer;
    transition: all 0.3s;
    background-size: cover;
    background-image: url('./img/marcador.jpg'); 
}
.bg-category-1:hover{
    background-image: url('./gif/gif8.gif');
    background-position: center;
}
.bg-category-2{
    padding: 1rem;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    box-shadow: 0 0 6px #000;
    cursor: pointer;
    transition: all 0.3s;
    background-size: cover;
    background-image: url('./img/resaltador.jpg');
}
.bg-category-2:hover{
    background-image: url('./gif/resaltador.gif');
    background-position: center;
}
.bg-category-3{
    padding: 1rem;
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    box-shadow: 0 0 6px #000;
    cursor: pointer;
    transition: all 0.3s;
    background-size: cover;
    background-image: url('./img/boligrafo.jpg');
}
.bg-category-3:hover{
    background-image: url('gif/boligrafo.gif');
    background-position: center;    
}
.title-category{
    font-size: 4rem;
    font-family: 'Montserrat', sans-serif;  
}

/*Nosotros*/
.section-nosotros{
  
    padding: 0;
}
.div-nosotros{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribuye el espacio entre los hijos */
    align-items: center; /* Alinea los hijos verticalmente en el centro */
    padding: 20px;
    background-color: #F2F2F2;
}
.div-nosotros .div-image img{
    width:100%;
    height: 100%;
}
.div-inf{
    width: 50%;
    text-align: center;
    color: #0D0D0D;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
}
@media (max-width: 1200px) {
    .div-nosotros .div-image {
        width:100%;
    }
    .div-inf{
        width: 100%;
        text-align: center;
        color: #0D0D0D;
        padding: 20px;
        font-family: 'Montserrat', sans-serif;
    }
}

/*Div informativos*/
.section-info1{
    padding: 0;
}

.seccion-informativa1{
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch; /* Hace que ambos divs tengan la misma altura */
    justify-items: center;
    
}
.informativa{
    width: 50%;
    padding: 20px;
    text-align: center;
}
.bg-informativa{
    margin-left: 2.5%;
    width: 45%;
    background-image: url('./img/papel.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 95%; /* Hace que el div sea al menos tan alto como su contenido */
    display: flex;
    align-items: center;
}
.seccion-informativa1 p{
    color: #0D0D0D;
    font-family: 'permanent Marker';
    font-size: 1.8rem;
}
/*edit todos los videos */
.informativa video{
    width: 100%;
    height: 100%;
    padding: 20px;
}
@media (max-width: 1200px) {
    .informativa{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .seccion-informativa1 p{
        color: #030303;
        font-family: 'permanent Marker';
        font-size: 1.5rem;
    }
}

.seccion-informativa2{
    justify-content: space-between; /* Distribuye el espacio entre los hijos */
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Centra verticalmente */
    justify-items: center; /* Centra horizontalmente */
    background-color: #F2F2F2;
}
.seccion-informativa2 p{
    color: #0D0D0D;
    font-family: 'permanent Marker';
    font-size: 1.5rem;
}
.informativa2{
    width: 50%;
    padding: 20px;
    text-align: center;
}
.informativa2 video{
    width: 100%;
    height: 100%;
    padding: 20px;
}
@media (max-width: 1200px) {
    .informativa2{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
}
.seccion-informativa3{   
    justify-content: space-between; /* Distribuye el espacio entre los hijos */
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Centra verticalmente */
    justify-items: center; /* Centra horizontalmente */
    background-color:#0D0D0D;
}
.seccion-informativa3 p{
    color: #F2E205;
    font-family: 'permanent Marker';
    font-size: 1.5rem;
}
.informativa3{
    width: 50%;
    padding: 20px;
    text-align: center;
}
.informativa3 video{
    width: 100%;
    height: 100%;
    padding: 20px;
}
@media (max-width: 1200px) {
    .informativa3{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
}
.seccion-informativa4{
    justify-content: space-between; /* Distribuye el espacio entre los hijos */
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* Centra verticalmente */
    justify-items: center; /* Centra horizontalmente */
    background-color: #860505;
    /* background-color: #F272B8; */
    
}
.seccion-informativa4 h4{
    color: #F2F2F2;
    font-family: 'permanent Marker';
    font-size: 1.5rem;
}
.informativa4{
    width: 50%;
    padding: 20px;
    text-align: center;
}
.informativa4 video{
    width: 100%;
    height: 100%;
    padding: 20px;
}
@media (max-width: 1200px) {
    .informativa4{
        width: 100%;
        padding: 20px;
        text-align: center;
    }
}
.seccion-informativa5{
    width: 100%;
}
.informativa-inspirate{
    width: 100%;
    padding: 20px;
    text-align: center;
}
.informativa-inspirate video{
    width: 100%;
    height: 500px ;
}



































































/*agregarle reponsividad a la página*/

@media(max-width:991px){
    
    section{
        padding: 40px;
    }

    header{
        padding: 20px 40px;
    }

    .menu{
        padding: 0;
        align-items: center;
    }

    .menu li a{
        font-size: 30px;
    }

    .container .content h1{
        font-size: 20px;
    }

    
    .seccion2{
        background-color: #F272B8;
    }

    .contacto{
        min-height: 520px;
    }

    .newsletter h2{
        width: 300px;
        color: #0511F2;
        font-weight: 600;
        font-size: 15px;
        text-align: right;
    }

    form{
        z-index: 10;
    }

    #message {
        margin-top: 20px;
    }
   
    .redes{
        padding-top: 350px;
        margin-right: -200px;
        gap: 5px;
    }

    .redes li a img{
        width: 50px;
    }

    .redes li a{
        width: 100%;
        height: 100%;
    }

    footer {
        background-image: url(img/contact2.png);
        background-repeat: no-repeat;
        background-size: cover;
        padding-left: 40px;
    }

    footer h6{
        font-weight: 600;
        margin-right: 40px;
    }



}

