@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@0,100..900;1,100..900&display=swap');

.producto {
    width: 250px;
}

.card {
    border: 2px double #cb06f2;
    background-image: url('../img/bg-card.jpg');
    width: 250px;
    padding: 15px;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px #00000033;
}

.card h4, .card p, .card span {
    font-family:"Montserrat", sans-serif;
}

.colores {
    display: flex;
}
.color {
    border: 1px solid #000;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    margin-right: 5px;
    cursor: pointer;
}
.amarillo {
    background-color: #ebeb19e5;
}
.azul {
    background-color: #0000ffe1;
}
.verde {
    background-color: #098b09;
}

.leer-mas {
    text-decoration: none;
    color: #0505f7;
}
