.colores {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1.5px solid #000;
}

.negro {
    background-color: black;
}
.azul {
    background-color: blue;
}
.rojo {
    background-color: red;
}
.verde {
    background-color: green;
}